<div class="section">
    <div class="details-section shadow">
      <div class="grid-wrapper">
        <div class="left-div">
          <h2>
            Pokemon name
          </h2>
          <div class="type-info">
            <div >
              <p>
                type
              </p>
            </div>
          </div>
          <img  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="" />
        </div>
        <div class="right-div">
          <h2>Pokemon Details</h2>
          <p><strong>Experience</strong> Ecprience</p>
          <p><strong>Height</strong> height decimeter</p>
          <p><strong>Weight</strong>weight  hectogram</p>
        </div>
      </div>
    </div>
  
    <div class="gallery-section">
      <h2>Photo Gallery</h2>
      <div class="grid-wrapper">
        <div class="card shadow">
            <!-- not use api just  -->
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="" />
        </div>
        <div class="card shadow">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/2.png" alt="" />
        </div>
        <div class="card shadow">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/3.png" alt="" />
        </div>
        <div class="card shadow">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png" alt="" />
        </div>
        <div class="card shadow">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/5.png" alt="" />
        </div>
        <div class="card shadow">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/6.png" alt="" />
        </div>
        
        <div class="card shadow">
            <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
            />
        </div>
      </div>
    </div>
  </div>